@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "gordita_regular";
  font-style: normal;
  font-weight: normal;
  src: url(../assets/fonts/GorditaRegular.woff) format("woff");
}

@font-face {
  font-family: "gordita_medium";
  font-style: normal;
  font-weight: normal;
  src: url(../assets/fonts/GorditaMedium.woff) format("woff");
}

@font-face {
  font-family: "gordita_bold";
  font-style: normal;
  font-weight: normal;
  src: url(../assets/fonts/GorditaBold.woff) format("woff");
}
.gordita_regular {
  font-family: "gordita_regular" !important;
}

.gordita_medium {
  font-family: "gordita_medium" !important;
}

.gordita_bold {
  font-family: "gordita_bold" !important;
}
img {
  width: 100% !important;
  display: block !important;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: 0 0;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  outline: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  scroll-behavior: smooth !important;
  font-family: "gordita_regular";
}
body {
  margin: 0%;
  padding: 0%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "gordita_regular";
  font-size: 16px;
  overflow-x: hidden;
  min-width: 320px;
}

p {
  line-height: 1.6em;
  font-size: 16px;
  color: #242424;
  font-family: gordita_regular;
}
.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 4px solid rgb(0 0 0 / 6%);
  border-radius: 50%;
  border-top: 4px solid #9ccd5a;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;

  transform: translate(-50%, -50%);
}
.loader-white {
  border: 4px solid rgb(255 255 255 / 30%);
  border-radius: 50%;
  border-top: 4px solid #fff;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  transform: translate(-50%, -50%);
}
.loader-container {
  display: flex;
  align-self: center;
  margin-top: 10%;
  border: 5px solid rgb(0 0 0 / 6%);
  border-radius: 50%;
  border-top: 5px solid #9ccd5a;
  width: 45px;
  height: 45px;
  animation: spin 1s linear infinite;
  transform: translate(-50%, -50%);
}

div.error-message p.error {
  color: #ff665e;
  display: block;
  font-size: 14px;
  font-family: gordita_medium;
  margin-top: 5px;
}

div.error-message p.error .link {
  color: #96ca4f;
  font-size: 14px;
  font-family: gordita_medium;
  margin-left: 5px;
}

.min-h-dvh {
  min-height: 100dvh;
}
.text-right {
  text-align: right !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.error-border {
  border: 1px solid #ff665e !important;
}
.right-0 {
  right: 0 !important;
}
.cursor-not-allowed {
  cursor: not-allowed !important;
}
.pointer {
  cursor: pointer !important;
}
.webkit-center {
  -webkit-box-pack: center;
}

.css-heg063-MuiTabs-flexContainer {
  justify-content: space-around !important;
}
/* .text-fghjnvk76 {
  text-decoration:dotted !important;
.margin-tabs {
  margin-left: 10px !important;
}
@media all and (max-width: 540px) {
  .margin-tabs {
    margin-left: 0px !important;
    font-size: 12px !important;
  }
  .image-width-tabs{
    width: 20px !important;

  }
}

@media all and (max-width: 640px){
  .alingImage{
    justify-content: flex-start !important;
  }
}
/* .buttonNav {
  position: relative;
}
.buttonNav ::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #242424;
  top: 0;
} */
html.modal-enabled {
  overflow: hidden !important;
}
.image-width-tabs {
  width: 30px !important;
  margin-right: 8px !important;
}
.margin-tablab {
  margin-bottom: 10px !important;
}
.border-radius-it {
  border-radius: 10px !important;
}
@media all and (max-width: 1280px) {
  .image-width-tabs {
    width: 24px !important;
  }
}
.spotlight {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
@media all and (max-width:768px){
  .footer-margi{
    margin-bottom: 25px !important;
  }
}
@media all and (max-width: 540px) {
  .margin-tabs {
    font-size: 13px !important;
  }
  .image-width-tabs {
    width: 20px !important;
    margin-right: 0px !important;
  }
  .custom-link:hover {
    color: #68d5fb; /* Change the text color on hover */
  }

  
}
